@charset "UTF-8";
/*
COLORS
================================================ */
/*
  カスタムプロパティの定義　:rootに定義すると、どの位置からでも参照可
  宣言は必ず「--」から始める
  --カスタムプロパティ名: 値;
  呼び出し例 => color: var(--gray);
  注意点1:大文字・小文字は区別される
  注意点2:プロパティ名をカスタムプロパティにできない
    誤った例
    p {
      --bg: baclground-color;
      var(--bg): pink;
    }
  注意点3:呼び出すときに単位を書き足すだけでは無効
    誤った例
    div {
      --main-padding: 2;
      padding: var(--main-padding)rem;
    }
  注意点3:calc関数を使って単位を含めることは可能
    正しい例
    div {
      --main-margin: 2rem;
      margin: calc(var(--main-margin) * 1rem));
*/
:root {
  --light-blue: #4db1ec;
  --blue: #1665cc;
  --purple: #b473bf;
  --pink: #ffb2c1;
  --orange: #ff9f67;
  --yellow: #ffd673;
  --light-green: #a2e29b;
  --green: #00a2af;
  --grey: #333;
  --white: #fff;
}
/*
全般
================================================ */
html {
  font-size: 100%;
  /* スムーズスクロール */
  scroll-behavior: smooth;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #555;
}
/*
共通部分
================================================ */
p,
td {
  line-height: 1.7;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
h1,
h2 {
  text-align: center;
}
header,
h1,
h2,
.hero-date {
  font-family: impact, sans-serif;
}
/* レイアウト */
.wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}
main {
  max-width: 900px;
  width: 94%;
  margin: 0 auto;
  padding: 1rem 0;
}
/* ボタン */
.btn {
  display: block;
  text-align: center;
  background: royalblue;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2.25rem;
}
.btn:hover {
  opacity: 0.8;
  background: var(--pink);
}
.box-bg {
  display: block;
  text-align: center;
  background: pink;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 100%;
  font-size: 2.25rem;
  /* キーフレーム名 */
  animation-name: box-size;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
/* キーフレームの設定 */
/* キーフレームは:hoverなどのきっかけ不要 */
@keyframes box-size {
  0% {
    background: skyblue;
  }
  50% {
    color: white;
    background: plum;
    width: 50%;
  }
  100% {
    background: pink;
  }
}

/*
HEADER
================================================ */
.fixed-position {
  background: var(--grey);
  padding: 1rem 0;
  /* 固定表示のための記述 */
  position: fixed;
  width: 100%;
  z-index: 1;
}
.main-nav {
  display: flex;
}
.main-nav {
  padding: 0 30px;
}

/* Table */
table {
  margin: 3.5rem 0;
  width: 100%;
}
th,
td {
  display: block;
}
th {
  font-weight: normal;
  background: #f8f6f2;
  vertical-align: middle;
  padding: 1rem;
}
td {
  padding: 0.75rem 1rem 1.75rem;
}
/*
HERO
================================================ */
#hero {
  /* ↓ 省略形だとブラウザーによってうまく表示されない
  background: var(--light-blue) url('../images/hero.jpg') no-repeat center / cover; */
  /* background-color: #4db1ec; */
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-blend-mode: screen; 画像同士を重ねる */
  height: 100vh;
  display: flex;
  align-items: center;
}
#hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  mix-blend-mode: overlay;
}
.hero-date {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

/*
form
================================================ */
/* 入力欄 */
input[type="text"],
input[type="email"],
input[type="url"],
select,
textarea {
  border: 1px solid #bbb;
  background: #fff;
  padding: 0.5rem;
  width: 100%;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
textarea::placeholder {
  color: #bbb;
}
/* チェックボックス */
input[type="checkbox"] {
  opacity: 0; /* 透明にする */
  -webkit-appearance: none; /* Safariでのスタイル削除 */
  appearance: none; /* デフォルトのスタイル削除 */
  position: absolute; /* 文字にチェックボックスを重ねる */
}
input[type="checkbox"] + span::before {
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #bbb;
  background: #fff;
  margin: -0.125rem 0.5rem 0 0;
  vertical-align: middle;
  /* Font Awesome */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 0 2px;
  line-height: 1.5;
}
/* チェックが入るとチェックアイコンを表示 */
input[type="checkbox"]:checked + span::before {
  content: "\f00c";
}
/*
FOOTER要素
================================================ */
footer {
  background: #2d3374;
  color: rgba(255, 255, 255, 0.8);
  padding: 3.5rem 1rem;
  text-align: center;
}
footer .btn {
  color: #555;
  background: #d0bea2;
  margin-bottom: 3.5rem;
}
/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
  /* Table */
  th,
  td {
    padding: 1.125rem;
    display: table-cell;
  }
  .btn {
    display: block;
    width: 40%;
    margin: 0 auto;
  }
  /* アニメーション（トランジション）*/
  /* モバイルデバイスにはカーソルを合わせるという概念がないため */
  .transition-ls {
    transition: background 2.5s;
  }
}
