@charset "UTF-8";

/* 全般部分 */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #555;
}
/* 共通部分 */
p {
  line-height: 1.7;
  font-size: 1.125rem;
}

/* 記事部分 */
.post-home {
  margin-bottom: 3rem;
}
.post-title {
  padding-bottom: 10px;
  background-image: linear-gradient(
    45deg,
    #fff 30%,
    #ccc 30%,
    #ccc 50%,
    #fff 50%,
    #fff 80%,
    #ccc 80%,
    #ccc 100%
  );
  background-size: 6px 6px;
  margin-bottom: 1.5rem;
}
.post-title h2 {
  background: #fff;
  padding: 0 0.5rem 0.875rem;
  font-size: 1.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
}
.post-title a {
  color: #949087;
  text-decoration: none;
}
.post-title a:hover {
  color: #605c55;
}
.post-thumb {
  margin: 0 0 1rem 0;
  position: relative; /* post-dateをabsolute設定のために必要 */
}
.post-date {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Amatic SC", cursive;
  background: #93d8d0;
  border-radius: 30% 60% 50% 70%/50%;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: -10px;
  width: 80px;
  height: 80px;
}
.post-date span {
  border-bottom: 2px rgba(255, 255, 255, 0.5) dotted;
  padding-bottom: 2px;
  display: block;
  width: 60%;
  margin: 4px auto 0;
  font-size: 1rem;
}
.post-img {
  width: 100%;
  height: 260px;
  object-fit: cover; /* アスペクト比を変えずにトリミング */
  border-radius: 40% 70% 50% 30%/50%;
}
.post-desc {
  text-align: justify;
}
.btn {
  text-align: right;
  margin-top: 1rem;
}
.btn a {
  color: #fff;
  font-size: 1.5rem;
  background: #eda1a1;
  padding: 10px 20px;
  border: 2px #e38787 dashed;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #eda1a1;
  display: inline-block;
}
.btn a:hover {
  background: #e38787;
  box-shadow: 0 0 0 5px #e38787;
  border: 2px dashed#eda1a1;
}

/* 引用文 */
blockquote {
  position: relative;
  padding: 1rem 3rem 1rem 3rem;
  margin-bottom: 1rem;
}
blockquote::before,
blockquote::after {
  font-size: 6rem;
  font-family: georgia, serif;
  color: #ccc;
  position: absolute;
  line-height: 0;
}
blockquote::before {
  content: "\201C";
  top: 0.5rem;
  left: 0;
}
blockquote::after {
  content: "\201D";
  bottom: 0.5rem;
  right: 0;
}
.kagikakko {
  padding: 2rem;
}
.kagikakko::before,
.kagikakko::after {
  content: "";
  width: 40px;
  height: 40px;
}
.kagikakko::before {
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}
.kagikakko::after {
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  font-family: "M PLUS Rounded 1c";
  font-size: 1.5rem;
  text-align: center;
}
.pagination a:hover {
  background: #93d8d0;
  color: #fff;
}
.pagination a,
.pagination .current {
  border-radius: 50%;
  padding-top: 4px;
  display: inline-block; /* 高さと幅を指定できる */
  width: 36px;
  height: 36px;
  margin: 0 6px;
}
.pagination .current {
  background: #ccc;
  color: #fff;
}

/* サイドバー部分 */
.category li::before {
  /* fontawesome */
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f6be";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: 0 10px 2px 0;
}
.popular-posts li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #93d8d0;
  display: inline-block;
  margin: 0 8px 2px 0;
}
.pseudo-element a {
  text-decoration: underline tomato;
}
/* 外部リンク */
.pseudo-element a[href^="http://"]::before
{
  content: url(../images/link.svg);
}
/* メール */
.pseudo-element a[href^="mailto:"]::before {
  content: url(../images/email.svg);
}
/* PDF */
.pseudo-element a[href$=".pdf"]::before {
  content: url(../images/doc.svg);
}

/* デスクトップサイズ設定（モバイルファースト） */
@media (min-width: 600px) {
  /* Layout */
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding: 1rem 2.5rem 2.5rem;
  }

  /* Main */
  main {
    width: 68%;
    margin-bottom: 0;
  }

  /* 記事部分 */
  .post-img {
    width: 220px;
    height: 180px;
  }
  .post-thumb {
    margin: 0 3rem 1rem 0;
    shape-outside: circle();
    float: left;
  }

  /* Aside */
  aside {
    width: 26%;
    background: navajowhite;
  }
}

/* モバイル端末の画面を横にしたときを想定 */
@media (max-height: 420px) {
  header {
    padding: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .page-desc {
    font-size: 0.7rem;
  }
  .btn {
    padding: 0.5rem 1rem;
  }
}
