@charset "UTF-8";

/* 全般部分 */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #555;
}
/* 共通部分 */
p {
  line-height: 1.7;
  font-size: 1.125rem;
}

/* デスクトップサイズ設定（モバイルファースト） */
@media (min-width: 600px) {
  p {
    padding: 0 1rem;
    padding-top: 12vh;
  }
}
