@charset "UTF-8";

/* 全般部分 */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #555;
}
/* 共通部分 */
p {
  line-height: 1.7;
  font-size: 1.125rem;
}

/* 記事部分 */
.post-title {
  padding-bottom: 10px;
  background-image: linear-gradient(
    45deg,
    #fff 30%,
    #ccc 30%,
    #ccc 50%,
    #fff 50%,
    #fff 80%,
    #ccc 80%,
    #ccc 100%
  );
  background-size: 6px 6px;
  margin-bottom: 1.5rem;
}
.post-title h2 {
  background: #fff;
  padding: 0 0.5rem 0.875rem;
  font-size: 1.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
}
.post-title a {
  color: #949087;
  text-decoration: none;
}
.post-title a:hover {
  color: #605c55;
}

/* デスクトップサイズ設定（モバイルファースト） */
@media (min-width: 600px) {
  /* Layout */
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding: 1rem 2.5rem 2.5rem;
  }

  /* Main */
  main {
    width: 68%;
    margin-bottom: 0;
  }

  /* Aside */
  aside {
    width: 26%;
    background: navajowhite;
  }
}

/* モバイル端末の画面を横にしたときを想定 */
@media (max-height: 420px) {
  header {
    padding: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .page-desc {
    font-size: 0.7rem;
  }
  .btn {
    padding: 0.5rem 1rem;
  }
}
