@charset "UTF-8";

/* 全般部分 */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: black;
}
/* 共通部分 */
p {
  line-height: 1.7;
  font-size: 1.125rem;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}
.btn {
  display: block;
  text-align: center;
  background: royalblue;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2.25rem;
}
.btn:hover {
  opacity: 0.8;
}
/*
HOME
================================================ */
.home-hero {
  background: url(../images/bg-hero.jpg) no-repeat right top / 70vw auto;
  padding: 5.5rem 0 3rem;
}
.home-hero h2 {
  font-family: "Sawarabi Mincho", sans-sefif;
  font-size: 1.5rem;
  margin: 8vw 0 12vw; /* 画面幅によって間隔が変更 */
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  display: inline-block;
}
.home-hero p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
  .btn {
    display: inline-block;
  }
  .home-hero {
    padding: 16vw 1rem;
  }
  .home-hero h2 {
    font-size: 2.5rem;
    margin: 0 0 2rem;
    background: none;
    padding: 0;
  }
  .home-hero p {
    width: 38vw;
  }
}
