@charset "UTF-8";

/* 全般部分 */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: black;
}
/* 共通部分 */
p {
  line-height: 1.7;
  font-size: 1.125rem;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
