@charset "UTF-8";
/*
カスタムプロパティ定義
================================================ */
:root {
  --video-opacity: 0.5;
  --text: #fff;
  --bg: #000;
}
/*
全般
================================================ */
html {
  font-size: 100%;
  background: var(--bg);
  color: var(--text);
  /* スムーズスクロール */
  scroll-behavior: smooth;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
}
/*
共通部分
================================================ */
p,
td {
  line-height: 1.7;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
h1,
h2 {
  text-align: center;
}
header,
h1,
h2,
.hero-date {
  font-family: impact, sans-serif;
}
/*
HEADER
================================================ */
header video {
  object-fit: cover;
  object-position: conter top;
  opacity: var(--video-opacity);
  width: 100vw;
  height: 90vh;
}
/*
FOOTER要素
================================================ */
footer {
  color: var(--white);
  padding: 3.5rem 1rem;
  text-align: center;
}
/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
}
